.app{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align:center;
  background-color: lightgray;
}
.topHeader{
  margin: 0px 5%;
  /*padding: 0px 10px 0px 10px;*/
  width: 90%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerTopForm{
  width: 80%;
  display: flex;
  justify-content: space-between;
}
input, select{
  border-radius: 1vh;
  border-width: 0.3vh;
  margin: 1vh;
  border-color: rgb(76, 128, 224);
}
button{
  border-radius: 1vh;
  background-color: rgb(76, 128, 224);
}
/*.topFormSection{
  display: flex;
  flex-direction: column;
  width: 13%;
}*/
.underHeader{
  margin: 0px 5%;
  width: 90%;
  padding-top: 2vh;
  display: inline-flex;
  justify-content: space-between;
}
.underHeaderOne{
  width: 45%;
  display: flex;
  flex-flow: column;
}
.underHeaderOne label{
  width: 10%;
  display: flex;
  justify-content: flex-start;

}
.underHeaderTwo{
  width: 45%;
  display: flex;
  flex-flow: column;
  height: 100%;
}
.underHeaderTwo label{
  width: 10%;
  display: flex;
  justify-content: flex-start;
}
.cta{
  display: flex;
  align-items: baseline;
}
.nom{
  display: flex;
  align-items: baseline;
}
.dom{
  display: flex;
  align-items: baseline;
}
.loc{
  display: flex;
  align-items: baseline;
}
.ident{
  display: flex;
  align-items: baseline;
}
.ident label{
  width: 10%;
  display: flex;
  justify-content: flex-start;
}
.vdor{
  display: flex;
  align-items: baseline;
}
.canal{
  display: flex;
  align-items: baseline;
}
.plan{
  display: flex;
  align-items: baseline;
}
.iva{
  display: flex;
  align-items: baseline;
  flex-direction: row;
  width: 30%;
}
.iva div{
  display: flex;
  justify-content: space-between;
  text-align: initial;
  border: 2px solid rgb(76, 128, 224);
  border-radius: 1vh;
  width: 100%;
  margin: 2px 2px 0px 2px;
  padding: 2px;
}
.primaryUnderHeaderButtons{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.primaryUnderHeaderButtons button{ 
  width: 25%;
}
.botones{
  display: flex;
  height: 5%;
  margin: 1% 5% 0% 5%;
  width: 90%;
  justify-content: center;
  font-size: 2vw;
}
.botones > div{
  width: 25vw;
  border-color: rgb(76, 128, 224);
  border-width: 0.3vh;
  border-style: solid;
  border-top-left-radius: 2vh;
  border-top-right-radius: 2vh;
}
.botonClick{
  font-weight: bold;
  background-color: #dddddd;
  border-bottom: 0ch;
}
.renglones{
  margin: 0px 5%;
  width: 90%;
}
.cargas{
  width: 100%;
}

.formCargas{
  display: flex;
  align-items: center;
}
.formCargas input[type="number"]{
  width: 5vw;
  margin: 0 0vw 0 0.3vw;
}
.formCargas input[type="text"]{
  width: 44vw;
  margin-right: 0.5vw;
}
.formCargas input[disabled]{
  background-color: field;
  border-color: rgb(133, 133, 133)
}
.formCargas button{
  margin-left: 0.3vw;
  margin-right: 0.3vw;
}
.formCargas label{
  margin-left: 0.3vw;
}